<app-header></app-header>
<video loop autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
    <source src="assets/Videos/Education.mp4" type="video/mp4" >
    Your browser does not support HTML5 video.
  </video>
  <div class="content">
    <h1>MORSE & EDISON – INTEGRATED LMS</h1>
      <p>Integrated LMS Platform & Team Learning Solutions
        E-Learning Experience Simplified</p>
        <button class="btn"><a [routerLink]="['/contactus']">Book here for <strong>Demo</strong></a></button>
    </div>



<!-- <div id="parent-container">
    <div id="video-container">
        <video controls loop autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"  #videoPlayer style="width: 100%">
            <source src="assets/Videos/Education.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="topContainer">
        <app-header></app-header>
        
           
                <h1>MORSE & EDISON – INTEGRATED LMS</h1>
                <br><br>
                <h2 style="color: #03037d;">Integrated LMS Platform & Team Learning Solutions <br>
                    E-Learning Experience Simplified
                </h2>
               
                <button class="btn"><a href="mailto:contactus@cloudengage.in" target="_blank">Book here for <strong>Demo</strong></a></button>
    </div>
</div>	 -->

<div class="container mt-4">
    <h2 class="text-center">“In a matter of minutes, take your online teaching journey to another level through a customized Learning Management System platform and in house content creation capability”
    </h2><br>
    <h2 class="text-center">WHY CHOOSE CLOUDENGAGE FOR E-LEARNING SOLUTIONS
    </h2>
    <p class="text-center" style="font-size: 25px;"><i>“E-Learning requirements differs from business to business and we have delivered custom solutions depending on needs of each individual customers.”
</i>
    </p>
</div>
<div class="for-you">
    <h2>Collaborate using MORSE</h2>
    <div class="row individualBlock">
        <div class="col-lg-5 individualDescription">
            <div>
                <div class="row" style="font-size: 17px;">
                    <ul>
                        <li>Interactive Teaching</li>
                        <li>Whiteboard - Interactive online whiteboard</li>
                        <li>Screenshare - Draw, Highlight, Annotate or insert files</li>
                        <li>Live Collaboration</li>
                        <li>Crystal Clear Audio and Video with end-to-end encryption</li>
                        <li>HD video and audio to your live teaching sessions</li>
                        <li>Hold up to 1000 virtual leaners</li>
                    </ul>
                </div>
              
            </div>
        </div>
        <div  class="col-lg-7">
            <img src="assets/images/25.png" alt="" width="95%" height="95%">
        </div>
    </div>
</div>
<div class="for-you">
    <h2 >EDISON – Learning management System</h2>
    <div class="row individualBlock">
        <div  class="col-lg-7">
            <img src="assets/images/24.png" alt="" width="95%" height="95%">
        </div>
        <div class="col-lg-5 individualDescription">
            <div>
                <div class="row" style="font-size: 17px;">
                    <ul>
                        <li>Scheduling - No more hassles of scheduling live classes</li>
                        <li>Session Recording - All the sessions are recorded and stored in the cloud</li>
                        <li>Parallel Classes - No more waiting for meeting rooms to be free from your colleagues</li>
                        <li>Integrated CRM for your student management</li>
                        <li>Mock test with AI Enabled Assessment Engine</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>