<app-header></app-header>
<video loop autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
    <source src="assets/Videos/Digital.mp4" type="video/mp4" >
    Your browser does not support HTML5 video.
  </video>
  <div class="content">
    <h1><strong>CE SocialGuru</strong></h1>
      <p>Your personal digital marketing advisor</p>
     </div>


<!-- <div id="parent-container">
    <div id="video-container">
        <video controls loop autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" #videoPlayer
            style="width: 100%">
            <source src="assets/Videos/Digital.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="topContainer">
        <app-header></app-header>
       
            <h1><strong>CE SocialGuru</strong></h1><br />

       
        
            <h2>Your personal digital marketing advisor</h2>
            
    </div> -->
    <div class="query">
       
        <h4>Have a query? <a [routerLink]="['/contactus']">Click here</a> to reach us</h4>
    </div>
<div class="for-you">
    <h2 class="text-center">Why CE SocialGuru?</h2>
    <div class="row individualBlock">
        <div class="col-lg-5 individualDescription">
            <div>
                <div class="row" style="font-size: 17px;">
                    <ul>
                    <li>CE SocialGuru partners with clients to take off all digital marketing woes that one is facing</li>
                    <li>CE SocialGuru takes a scientific, 360 degree approach to address your digital marketing needs</li>
                    <li>CE SocialGuru deploys  customised strategies for each organization it partners for</li>
                    <li>CE SocialGuru empowers you to be where your customers are</li>
                    <li>CE SocialGuru delivers  digital marketing success through its  state-of the –art,  Artificial Intelligence Machine Learning platform</li>
                    
                    </ul>
                </div>
               
            </div>
        </div>
        <div  class="col-lg-7">
            <img src="assets/images/1.png" alt="" width="95%" height="95%">
        </div>
    </div>
</div>
<div class="for-you">
    <h2 class="text-center">Benefits of CE SocialGuru</h2>
    <div class="row individualBlock">
        <div  class="col-lg-7">
            <img src="assets/images/2.png" alt="" width="95%" height="95%">
        </div>
        <div class="col-lg-5 individualDescription">
            <div>
                <div class="row" style="font-size: 17px;">
                    <ul>
                    <li>Social media marketing is critical to being where your customers are – Increasing revenues through more business</li>
                    <li>Very important to have the right guidance on the most effective platform for your business category</li>
                    <li>Enable extensive brand building</li>
                    <li>Digital marketing is cost effective & time effective</li>
                    <li>Digitalization removes capex costs completely</li>
                    <li><strong>Lets face it people reading newspapers are DECREASING , and people on the internet are INCREASING</strong></li>
                    <li>Your social media presence MATTERS</li>
                    
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>
